.popup__form-input {
    max-width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Inter', "Arial", sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup__form-input:last-of-type {
    padding-top: 32px;
}