.card__like {
    width: 32px;
    height: 19px;
    margin-left: 30px;
    background-image: url("../../../img/like.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.card__like:hover {
    opacity: 0.5;
}
.card__like:active {
    background-image: url("../../../img/like-active.svg");
}